@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
                <a href="https://github.com/speyck/simple-surveys" class="ml-md-auto">Source</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
