<style>
    .meta-content {
        text-wrap: normal;
    }
</style>

<Card Bordered>
    <ChildContent>
        <CardMeta Class="meta-content" Title="@SurveyItem.Title" Description="@SurveyItem.Description"/>
    </ChildContent>
    <ActionTemplate>
        <CardAction><a href="/view/@SurveyItem.ID"><Icon Type="eye" /></a></CardAction>
        <CardAction><a href="/edit/@SurveyItem.ID"><Icon Type="edit" /></a></CardAction>
    </ActionTemplate>
</Card>
