<style>
    .text-area {
        width: 60%;
    }
</style>

<div class="text-area">
    <TextArea @bind-Value="TextValue" Placeholder="@(TextItem.Placeholder ?? "")" MinRows="3" MaxRows="6" />
</div>
